In [1]:
import xml.etree.ElementTree as et 
import pandas as pd
import glob
from jinja2 import Environment, FileSystemLoader
pd.set_option('display.max_colwidth', 0)

In [2]:
arquivos = glob.glob("atp_xml/*.xml")
arquivos = pd.Series(arquivos, name='A').unique()
dfLinhasBanco = pd.read_csv('LinhasPOA.csv',encoding='latin-1',sep=';')

In [122]:
rows = []
count =0
for arquivoXml in arquivos:
    count = count + 1
    print('Processando arquivo {} > ({} de {}): '.format(arquivoXml,count,len(glob.glob("atp_xml/*.xml"))))    
    xtree = et.parse(arquivoXml)
    xroot = xtree.getroot()
    for node in xroot:         
        if node.attrib.get("empresa") != None:        
            empresa = node.attrib.get("empresa")
            numeroLinha = node.attrib.get("numeroLinha")        
            tipoDia = node.attrib.get("tipoDia")
            codigo = node.attrib.get("codigo")
            data = node.attrib.get("data")
            dia = data[6:10]
            mes = data[4:6]
            ano = data[0:4]
                        
            linha = dfLinhasBanco['LD_DESC'][dfLinhasBanco['LD_DESCSHORT']==numeroLinha][0:1].item()
                        
            
            for item in xroot.findall('itens'):
                for node in item.findall('item'):
                    tabela = node.get('tabela')
                    sentido = node.get('sentido')
                    horaSaida = node.get('horaSaida')
                    horaChegada = node.get('horaChegada')
                    tabela = node.get('tabela')
                    
                
                    rows.append({"empresa": empresa,'data':data,'dia':dia,'mes':mes,
                                 'ano':ano,"numeroLinha": numeroLinha,"linha": linha,                                
                                 "tipoDia": tipoDia,"codigo": codigo,"tabela": tabela,
                                 "sentido": sentido,'horaSaida':horaSaida,'horaChegada':horaChegada})
                    
                    out_df = pd.DataFrame(rows)

Processando arquivo atp_xml/20200423_114316_316.xml > (1 de 227):
Processando arquivo atp_xml/20200423_132253_984.xml > (2 de 227):
Processando arquivo atp_xml/20200423_171601_302.xml > (3 de 227):
Processando arquivo atp_xml/20200423_132253_953.xml > (4 de 227):
Processando arquivo atp_xml/20200423_114316_706.xml > (5 de 227):
Processando arquivo atp_xml/20200423_161032_748.xml > (6 de 227):
Processando arquivo atp_xml/20200423_132150_132.xml > (7 de 227):
Processando arquivo atp_xml/20200423_161034_043.xml > (8 de 227):
Processando arquivo atp_xml/20200423_171600_460.xml > (9 de 227):
Processando arquivo atp_xml/20200423_171557_620.xml > (10 de 227):
Processando arquivo atp_xml/20200423_114308_142.xml > (11 de 227):
Processando arquivo atp_xml/20200423_161034_308.xml > (12 de 227):
Processando arquivo atp_xml/20200423_114256_785.xml > (13 de 227):
Processando arquivo atp_xml/20200423_132045_203.xml > (14 de 227):
Processando arquivo atp_xml/20200423_114313_508.xml > (15 de 227):
Processando arquivo atp_xml/20200423_171601_739.xml > (16 de 227):
Processando arquivo atp_xml/20200423_161033_606.xml > (17 de 227):
Processando arquivo atp_xml/20200423_114311_433.xml > (18 de 227):
Processando arquivo atp_xml/20200423_161136_287.xml > (19 de 227):
Processando arquivo atp_xml/20200423_171601_895.xml > (20 de 227):
Processando arquivo atp_xml/20200423_114311_792.xml > (21 de 227):
Processando arquivo atp_xml/20200423_132254_093.xml > (22 de 227):
Processando arquivo atp_xml/20200423_161033_029.xml > (23 de 227):
Processando arquivo atp_xml/20200423_114315_770.xml > (24 de 227):
Processando arquivo atp_xml/20200423_161138_986.xml > (25 de 227):
Processando arquivo atp_xml/20200423_171559_664.xml > (26 de 227):
Processando arquivo atp_xml/20200423_171557_948.xml > (27 de 227):
Processando arquivo atp_xml/20200423_114306_847.xml > (28 de 227):
Processando arquivo atp_xml/20200423_171601_489.xml > (29 de 227):
Processando arquivo atp_xml/20200423_114314_413.xml > (30 de 227):
Processando arquivo atp_xml/20200423_132253_766.xml > (31 de 227):
Processando arquivo atp_xml/20200423_171558_073.xml > (32 de 227):
Processando arquivo atp_xml/20200423_171600_881.xml > (33 de 227):
Processando arquivo atp_xml/20200423_132150_444.xml > (34 de 227):
Processando arquivo atp_xml/20200423_171601_661.xml > (35 de 227):
Processando arquivo atp_xml/20200423_161138_175.xml > (36 de 227):
Processando arquivo atp_xml/20200423_132150_647.xml > (37 de 227):
Processando arquivo atp_xml/20200423_171600_116.xml > (38 de 227):
Processando arquivo atp_xml/20200423_161030_845.xml > (39 de 227):
Processando arquivo atp_xml/20200423_114321_464.xml > (40 de 227):

In [144]:
empresas = out_df['empresa'].unique()
display(empresas)
datas = out_df['data'].unique()
display(datas)

array(['VSUL', 'CAR', 'CVLT', 'CMOB', 'MAIS'], dtype=object)

array(['20200424'], dtype=object)

In [124]:
out_df['sentido'] = out_df['sentido'].apply(lambda x: x.replace('I','Centro - Bairro').replace('V','Bairro - Centro'))
out_df['empresa_full'] = out_df['empresa'].apply(lambda x: x.replace('CAR','CARRIS').replace('CMOB','MOB').replace('CVLT','Via Leste').replace('MAIS','Mais').replace('VSUL','Viva Sul'))

In [125]:
'2015'[:2]

'20'

In [126]:
def formatTime(x):
    x = x.replace('::',':')
    
    
    if str(x) not in (':'):        
        x = (x[:2]+':'+x[2:])
        
    return(x.replace('::',':'))

In [127]:
out_df['horaSaida'] = out_df['horaSaida'].apply(lambda x: formatTime(x))
out_df['horaSaidaHora'] = out_df['horaSaida'].apply(lambda x: x[:2])
out_df['horaSaidaMinuto'] = out_df['horaSaida'].apply(lambda x: x[3:])

In [128]:
#ordenar as colunas
out_df = out_df.sort_values(by=['horaSaidaHora','horaSaidaMinuto'])
display(out_df.head(3))

,empresa,data,dia,mes,ano,numeroLinha,linha,tipoDia,codigo,tabela,sentido,horaSaida,horaChegada,empresa_full,horaSaidaHora,horaSaidaMinuto
546,VSUL,20200424,24,04,2020,262,JARDIM V. NOVA,1,M1,262/103,Bairro - Centro,00:00,00:40,Viva Sul,00,00
2375,CAR,20200424,24,04,2020,343,CAMPUS IPIRANGA,1,343UV,T1/051,Bairro - Centro,00:00,0040,CARRIS,00,00
2443,CAR,20200424,24,04,2020,343,CAMPUS IPIRANGA,1,343UV,T1/061,Bairro - Centro,00:00,0040,CARRIS,00,00

In [129]:
dfGrp = out_df[['empresa','dia', 'mes', 'ano', 'numeroLinha', 'linha','sentido', 'horaSaida','empresa_full']]
out_df = out_df.drop_duplicates()
out_df[out_df['empresa']=='CAR']

,empresa,data,dia,mes,ano,numeroLinha,linha,tipoDia,codigo,tabela,sentido,horaSaida,horaChegada,empresa_full,horaSaidaHora,horaSaidaMinuto
2375,CAR,20200424,24,04,2020,343,CAMPUS IPIRANGA,1,343UV,T1/051,Bairro - Centro,00:00,0040,CARRIS,00,00
2443,CAR,20200424,24,04,2020,343,CAMPUS IPIRANGA,1,343UV,T1/061,Bairro - Centro,00:00,0040,CARRIS,00,00
2455,CAR,20200424,24,04,2020,343,CAMPUS IPIRANGA,1,343UV,T4/051,Centro - Bairro,00:12,0030,CARRIS,00,12
2109,CAR,20200424,24,04,2020,343,CAMPUS IPIRANGA,1,343UV,T4/053,Centro - Bairro,00:20,0038,CARRIS,00,20
2112,CAR,20200424,24,04,2020,343,CAMPUS IPIRANGA,1,343UV,T4/061,Centro - Bairro,00:22,0040,CARRIS,00,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2111,CAR,20200424,24,04,2020,343,CAMPUS IPIRANGA,1,343UV,T4/061,Centro - Bairro,23:42,0022,CARRIS,23,42
1405,CAR,20200424,24,04,2020,343,CAMPUS IPIRANGA,1,343UV,T6/058,Centro - Bairro,23:48,0028,CARRIS,23,48
241,CAR,20200424,24,04,2020,343,CAMPUS IPIRANGA,1,343UV,T11/053,Centro - Bairro,23:50,0010,CARRIS,23,50
1414,CAR,20200424,24,04,2020,343,CAMPUS IPIRANGA,1,343UV,T6/059,Bairro - Centro,23:57,0037,CARRIS,23,57
2421,CAR,20200424,24,04,2020,343,CAMPUS IPIRANGA,1,343UV,T1/058,Centro - Bairro,23:57,0037,CARRIS,23,57

In [130]:
dfGrp.head(4)

,empresa,dia,mes,ano,numeroLinha,linha,sentido,horaSaida,empresa_full
546,VSUL,24,04,2020,262,JARDIM V. NOVA,Bairro - Centro,00:00,Viva Sul
2375,CAR,24,04,2020,343,CAMPUS IPIRANGA,Bairro - Centro,00:00,CARRIS
2443,CAR,24,04,2020,343,CAMPUS IPIRANGA,Bairro - Centro,00:00,CARRIS
2455,CAR,24,04,2020,343,CAMPUS IPIRANGA,Centro - Bairro,00:12,CARRIS

In [131]:
dfGrp2 = dfGrp.groupby(['empresa','dia', 'mes', 'ano', 'numeroLinha', 'linha','sentido','empresa_full'])['horaSaida'].apply(lambda x: "%s" % ' '.join(x))

In [132]:
dfGrp2 = pd.DataFrame(dfGrp2)
dfGrp2 = dfGrp2.reset_index()
print(dfGrp2.columns)
dfGrp2 = dfGrp2[['empresa','dia', 'mes', 'ano', 'numeroLinha', 'linha','sentido','horaSaida','empresa_full']]
dfGrp2 = dfGrp2.drop_duplicates()

Index(['empresa', 'dia', 'mes', 'ano', 'numeroLinha', 'linha', 'sentido',
       'empresa_full', 'horaSaida'],
      dtype='object')

In [133]:
def unique(sequence):
    seen = set()
    return [x for x in sequence if not (x in seen or seen.add(x))]

In [134]:
#transforma os horarios em array
dfGrp2['horaSaidaArr'] = dfGrp2['horaSaida'].apply(lambda x: list(map(str, str(x).split())))
#elimina duplicados
dfGrp2['horaSaidaArr'] = dfGrp2['horaSaidaArr'].apply(lambda x: unique(x))
#faz com que o array vire novamente uma string com espaços entre os horários
dfGrp2['horaSaidaUnique'] = dfGrp2['horaSaidaArr'].apply(lambda x: "%s" % ' '.join(x))

In [135]:
rows=[]
for index,rowItem in dfGrp2.iterrows():
    item = dict(empresa=rowItem['empresa'],
                empresa_full=rowItem['empresa_full'],
                 dia=rowItem['dia'],
                 mes=rowItem['mes'],
                 ano=rowItem['ano'],
                 numeroLinha=rowItem['numeroLinha'],
                 linha=rowItem['linha'],
                 sentido=rowItem['sentido'],
                 horaSaida=rowItem['horaSaidaUnique'])
    rows.append(item)

In [149]:
for emp in empresas:
    rowPerEmp = []
    nomeEmpresa = ''
    rowsN = rows.copy()
    for dat in datas:
        #print(dat)        
        for row in rowsN:
            anoMesDia = row['ano']+row['mes']+row['dia']
            
            if (row['empresa'] == emp) & (dat == anoMesDia):
                rowPerEmp.append(row)            
                nomeEmpresa = row['empresa_full']
        
        env = Environment(loader=FileSystemLoader('.'))
        template = env.get_template("template.html")
        template_vars = {"empresa" : nomeEmpresa,"rows":rowPerEmp,"tamanhoLetraCampos":14}    
    #        html_out = template.render(template_vars)
        f= open('./LinhasATP_'+ emp + "_"+dat +".html","w+",encoding="utf-8")
        f.write(html_out)
        f.close()

20200424
20200424
20200424
20200424
20200424